body {
  margin: 0;
}



.graphic {
  width: 100vw;
  height: 100vh;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
  }
}

$orange: #EE6826;
$orange-2: #F18651;
$blue: #1999D6;
$blue-2: #0F5DA0;
$blue-3: #015A9E;
$grey: #434344;

.group-1{
  opacity: 0.95;
}

.connection-blue,
.connection-grey,
.connection-blue,
.connection-blue-2,
.connection-orange,
.connection-orange-2 {
  fill:none;
  stroke:$blue;
  stroke-width:0.2636;
  stroke-miterlimit:10;
}

.connection-blue {
  stroke-width:0.2636;

}
.connection-blue-2 {
  stroke:$blue-2;
}
.connection-grey{
  stroke:$grey;
}
.connection-orange {
  stroke:$orange;
}

.connection-orange-2 {
  stroke:$orange-2;
}



.circle-orange,
.circle-orange-2,
.circle-blue,
.circle-blue-2,
.circle-blue-3,
.circle-grey {
  // transform-origin: 50% 50%;
  // transform: scale(0);
  // opacity: 0;
}


.circle-orange {
  fill: $orange;
}

.circle-orange-2 {
  fill: $orange-2;
}

.circle-blue{
  fill:$blue;
}

.circle-blue-2{
  fill:$blue-2;
}


.circle-blue-3{
  fill: $blue-2;
}

.circle-grey {
  fill:$grey;
}


.text {
  font-size:49px;
  font-family:"AkzidGrtskNext-Regular";
}

.text--orange,
.bullet-orange {
  fill: $orange;
}

.text--blue-2,
.bullet-blue-2 {
  fill: $blue-2;
}

.text--blue,
.bullet-blue {
  fill: $blue;
}

.text--grey,
.bullet-grey {
  fill: $grey
}

